body{
    width:auto;
    height:100vh;
}

.fullflag{
    float: left;
    display: block;
    height: min(100vh, 50vw);
    width: min(200vh, 100vw);
    border-style: solid;
    box-sizing: border-box;
    padding-top: min(20vh, 10vw);
    font-size: min(30vh, 15vw);
}

.flagtitle{
    height: 35%;
    margin-bottom: 0.45em;
}

.provotext{
    width: 65%;
    padding:0;
    vertical-align: 100px;
    margin-left:15%;
    border:none;
    background: none;
    font-family: Arial Black, Arial, Helvetica, sans-serif;
    font-weight: 900;
    transform: skew(-5deg);
    text-shadow: -.03em .03em #9A9A9A;
}

.widthspan{
    width: 65%;
    padding:0;
    vertical-align: 100px;
    margin-left:15%;
    transform: skew(-5deg);
    font-family: Arial Black, Arial, Helvetica, sans-serif;
    font-weight: 900;
}

.provotext:focus{
    outline: none;
}
