body{
    width:auto;
    height:100vh;
    overflow:hidden;
}

:root{
    font-size: min(30vh, 15vw);
}

.fullflag{
    float: left;
    height: min(100vh, 50vw);
    width: min(200vh, 100vw);
    border-style: hidden;
    box-sizing: border-box;
    font-size: min(30vh, 15vw);
    padding-top: 15%;
    display:flex;
    flex-direction: column;
}

.flagtitle{
    display: flex;
    height: 40%;
    align-items: flex-end;
    transform: skew(-7deg) rotate(-12deg);
}

#colorbox{
    margin-top: 2.3%;
    width:70%;
    transform: skew(-12deg) rotate(-12deg);
}

.provotext{
    border:none;
    background: none;
    font-family: Arial Black, Arial, Helvetica, sans-serif;
    font-weight: 900;
    text-shadow: -.05em .05em #9A9A9A;
    width: 50%;
    padding: 0;
    margin-left: 28%;
}

.provotext:focus{
    outline: none;
}
